body{
  font-family: 'Stick No Bills', sans-serif;
  background-color:rgba(0, 110, 255, 0.24);
}

h1{
  text-align:center;
  font-size:55px;
  margin-bottom:-5px;
}

.red{
  color:red;
  
}

.blue{
  color:#0077ff;
}

.contentTitle{
  font-size:35px;
  font-weight: bold;
  text-align: center; 
  margin-bottom:-20px;
}

#play1{
  display:inline;
  margin-right:150px;
  font-size:40px;
}

#play2{
  display:inline;
  font-size:40px;
}

.block{
  display:block;
}

#contenuJeu{
  width:414px;
  height:414px;
  margin:40px auto;
  padding:2px;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  border-radius:10px;
  transition-property: background-color;
}

.cell{
  width:130px;
  height:112px;
  border:3px solid black;
  background-color: white;
  margin:0 1px;
  padding-top:18px;
  text-align: center;
  font-size:88px;
  border-radius:10px;
  transition-duration: 0.3s;
  transition-property: background-color, width, height, font-size
  margin-left, margin-top;
}

.cell:hover{
  width:129px;
  height:110px;
  margin-left:2px;
  margin-top:2px;
  font-size:85px;
}

.cell:nth-child(4),.cell:nth-child(5),.cell:nth-child(6){
  margin-top:3px;
}

.cell:nth-child(7),.cell:nth-child(8),.cell:nth-child(9){
  margin-top:3px;
}

#pion1, #pion2, #pion3,
#pion4, #pion5, #pion6,
#pion7, #pion8, #pion9{
  width:132px;
  height:112px;
  border-radius: 10px;
  transform: translate(-2px, -20px);
  padding-top:20px;
}


.contentReset{
  width:fit-content;
  margin:0 auto 50px;
}

.buttonReset{
  width:150px;
  height:50px;
  font-family: 'Stick No Bills', sans-serif;
  font-size:23px;
  box-shadow: 4px 4px 8px;
  border:outset 2px;
  transition-duration: 0.5s;
  transition-property: box-shadow font-size;
}

.buttonReset:hover{
  box-shadow: none;
  border:inset 2px;
  font-size:22px;
}

#reset{
  margin-right:50px;
}

#message{
  text-align:center;
  font-size:35px;
  margin-top:-12px;
}